# .gitignore file

# project-specific files to neglegt
logs/*
*/logs/*
test/evaluation/log/*
# Except for history.log
!results/logs/history.log

cache/*.json

datasets/glove/*d.txt
datasets/proceedings.com/*.xlsx
datasets/wikidata/*data.csv

results/unfound_entries/*.json
results/unclear_entries/*.json
results/found_entries/*.json

# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class

# C extensions
*.so

# IPython
profile_default/
ipython_config.py

# Notebook
.ipynb_checkpoints

#Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments of any kind
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jetbrains environments
/.idea/*
!/.idea/runConfigurations

# VS Code folders
.vscode

# Test folder
.pytest_cache